html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #888eae;
  background-image: linear-gradient(
    30deg,
    #b2b9da 0%,
    #e089da 46%,
    #dcc69e 100%
  );

  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#memory-wrapper {
  max-width: 800px;
  margin: 0rem auto;
}

button {
  display: inline-block;
  padding: 1em;
  background-color: #dcc69e;
  border: none;
  outline: none;
  color: black;
  font-size: 2rem;
}
.spillerne {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

#memory-wrapper p {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#memory-wrapper p span {
  font-size: 3.5rem;
}

#memory-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  box-sizing: border-box;
}

.card {
  width: 100%;
  border: 0.2rem solid #fff;
  box-sizing: border-box;
  position: relative;
}
.check {
  position: absolute;
  left: 50%;
  top: 50%;
  scale: 2;
  color: greenyellow;
}

.card::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #888eae;
  background-image: linear-gradient(
    30deg,
    #b2b9da 0%,
    #e089da 46%,
    #dcc69e 100%
  );
  transition: all 0.75s ease-out;
}

.card.active::after,
.card.match::after {
  opacity: 0;
}

.card img {
  width: 100%;
  object-fit: cover;
}
.card.match::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
}
